@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");


* {
    font-family: "Roboto", sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 !important;
    color: #003586 !important;
  }

  p
  {
      font-weight: 400;
  }
.strong-p
{
    font-weight: 500;
}

.card
{
    border-radius: 30px;
}




html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

.container-parallax{
    height: 100vh;
    display: flex;
    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-parallax-data{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.parallax-img-v1
{
    background-image: url("https://thumbs.dreamstime.com/z/asian-mother-daughter-putting-coin-piggy-bank-mom-ki-kid-deposit-account-family-together-saving-money-future-130137683.jpg");
    padding-bottom: -10px;
    /*background-image: url("img/home-parallax.jpg");*/
}


.card-img
{
    width: 40%;
}
.card-img2
{
    width: 100%;
}
.card-img3
{
    width: 100%;
}

.logo {
    color: #003586 !important;
    font-size: 56px;
    font-family: "Cinzel", sans-serif !important;
    margin: 0 auto;
  }

.sub-logo {
    color: #003586 !important;
    font-size: 36px;
    font-family: "Cinzel", sans-serif !important;
    margin: 0 auto;
}




  /*Sobreescrevendo o bootstrap*/
  
  .accordion-button {
    color: #003586 !important;
    font-weight: bold;
  }
  
  .nav-item {
    font-size: 1.1em !important;
  }
  
  @media only screen and (max-width: 760px) {
    .page-title {
      text-align: center;
    }
    .card-img
    {
        height: 60%;
    }

    .flex-cards 
    {
        display: flow-root;
    }
    .container-parallax{
        height: 150vh;

    }
  }
  @media only screen and (max-width: 576px) {
    .logo {
      font-size: 20px;
    }
    
    .card-img
    {
        height: 30%;
    }
  }
