@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  box-shadow: none; /*inset 0 0 6px rgba(0, 0, 0, 0.3);*/
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

* {
  font-family: "Roboto", sans-serif;

  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  color: #003586 !important;
}

/** Menu **/
#logo {
  color: #003586 !important;
  font-size: 56px;
  font-family: "Cinzel", sans-serif !important;
  margin: 0 auto;
}

.nav-item {
  font-size: 1.1em !important;
}

/** Gerais **/

.accordion-conta {
  padding: 0.5rem 0rem 1rem 0rem !important;
}

.accordion-conta .lancamentos {
  overflow-y: scroll;
  max-height: 40vh;
  line-height: 2;
  padding: 0 20px;
}

.accordion-conta .lancamentos .row:nth-child(odd) {
  background-color: lavender;
}

.pagination-row {
  background-color: white !important;
}

.accordion-conta .page-link {
  border: 0 !important;
}

.header-dash {
  border-bottom: 1px solid lightgray;
}

/*Sobreescrevendo o bootstrap*/

.accordion-button {
  color: #003586 !important;
  font-weight: bold;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 760px) {
  .page-title {
    text-align: center;
  }
  .operations-group {
    margin: 10px;
  }
}

@media only screen and (max-width: 576px) {
  /** Menu **/
  #logo {
    font-size: 20px;
  }
  /****/

  .lancamentos {
    font-size: 0.9em;
  }
  .valor-tipo-d {
    color: red;
  }
}
